[Unit]
Description=Odoo14 Open Source ERP and CRM
After=network.target

[Service]
Type=simple
User=odoo
Group=odoo
ExecStart=/odoo14/odoo/odoo-bin --config /etc/odoo14/odoo14.conf --logfile /var/log/odoo14/odoo14-server.log
KillMode=mixed

[Install]
WantedBy=multi-user.target
